<!DOCTYPE html>
<html lang="en">



<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='../../static/node_modules/mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='../../static/node_modules/simple-line-icons/css/simple-line-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='../../static/node_modules/flag-icon-css/css/flag-icon.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = '../../static/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css') }}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='../../static/css/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='../../static/images/favicon.png') }}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
      <div class="row">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-full-bg">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-dark text-left p-5">
                <h2>Login</h2>
                <h4 class="font-weight-light">Hello! let's get started</h4>
                <form class="pt-5 validate-form" method="post", action="">
                  {% for messages in get_flashed_messages() %}
                    <p class=error style="color:#FFB463;" id="flashMessages">{{ messages }}
                    {% endfor %}
                  <div class="form-group validate-input">
                    {{ form.hidden_tag() }}

                    <label for="exampleInputEmail1">Username</label>
                      {{ form.username(size=32, class="form-control", id="exampleInputEmail1") }}
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    <i class="mdi mdi-account"></i>
                  </div>
                  <div class="form-group validate-input ">
                    <label for="exampleInputPassword1">Password</label>
                    <span class="btn-show-pass">
                      <i class="mdi mdi-eye"></i>
                    </span>
                    {{ form.password(size=32, class="form-control", id="exampleInputPassword1") }}
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                  </div>
                    {% if error %}
                    <p class=error style="color:red;">{{ error }}
                    {% endif %}
                  <div class="mt-5">
                    <button class="btn btn-block btn-warning btn-lg font-weight-medium">Login</button>
                  </div>
                  <div class="mt-3 text-center">
                    <a href="#" class="auth-link text-white">Forgot password?</a>
                  </div>
                    <div class="mt-3 text-center">
                    <p class="auth-link text-white"> Don't have an account? <a href="{{ url_for('api.registration') }}" class="auth-link" style="color:#FFA23D;">Sign Up</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{ url_for('static', filename='../../static/node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='../../static/node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='../../static/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='../../static/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js') }}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='../../static/js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='../../static/js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='../../static/js/misc.js') }}"></script>
  <script src="{{ url_for('static', filename='../../static/js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='../../static/js/todolist.js') }}"></script>
  <!-- endinject -->
</body>



</html>
