{% extends 'base.html' %}
{% block title %}
<title>Dashboard</title>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
              <div class="col-sm-5 grid-margin mt-5 ml-5 mr-5">
                <div class="card">
                  <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title text-info font-weight-bold">Process A</h3>
                    <p class="card-text text-dark">Last Updated: <span class="badge badge-light text-primary">{{return_obj['cron']['data'][0][1]}}</span></p>
                </div>
                <div class="d-flex justify-content-between">
                    <h4 class="text-dark"><span class="badge badge-primary"> {{return_obj['cron']['total_call']}} </span> success</h4>
                <h4 class="text-dark"><span class="badge badge-danger"> {{return_obj['cron']['failed_call']}} </span> failed</h4>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 grid-margin mt-5 ml-5 mr-5">
                <div class="card">
                  <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title text-info font-weight-bold">Process B</h3>
                    <p class="card-text text-dark">Last Updated: <span class="badge badge-light text-primary">{{return_obj['proc']['data'][0][1]}}</span></p>
                </div>
                <div class="d-flex justify-content-between">
                    <h4 class="text-dark"><span class="badge badge-primary"> {{return_obj['proc']['succ_call']}}</span> success</h4>
                <h4 class="text-dark"><span class="badge badge-danger"> {{return_obj['proc']['failed_call']}} </span> failed</h4>
                </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="row">
            <div class="col-sm-11 grid-margin mt-5 ml-5 mr-5">
                <div class="card">
                  <div class="card-body">
                  <h5 class="card-title text-info font-weight-bold">Process A ( Last 5 call )</h5>
                   <table class="table table-bordered table-light">
                      <thead>
                        <tr>
                          <th>Start Time</th>
                          <th>Trigger B</th>
                          <th>Data(row, col)</th>
                          <th>Proc. Time(sec)</th>
                          <th>B status</th>
                          <th>A status</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for val in return_obj['cron']['data'] %}
                        <tr>
                          <td>{{val[1]}}</td>
                          <td>{{val[2]}}</td>
                          <td>{{val[3]}}, {{val[4]}}</td>
                          <td>{{val[7]}}</td>
                          {% if val[6]=='success' %}
                        <td><div class="badge badge-success badge-fw">{{val[5]}}</div></td>
                        {% else %}
                        <td><div class="badge badge-warning badge-fw">{{val[5]}}</div></td>
                            {% endif %}
                        {% if val[6]=='success' %}
                        <td><div class="badge badge-success badge-fw">{{val[6]}}</div></td>
                        {% else %}
                        <td><div class="badge badge-warning badge-fw">{{val[6]}}</div></td>
                            {% endif %}
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-11 grid-margin mt-5 ml-5 mr-5">
                <div class="card">
                  <div class="card-body">
                  <h5 class="card-title text-info font-weight-bold">Process B ( Last 5 call )</h5>
                   <table class="table table-bordered table-secondary">
                      <thead>
                        <tr>
                          <th>Start Time</th>
                          <th>Proc. Time(sec)</th>
                          <th>Hist. call count</th>
                          <th>Row New</th>
                          <th>Doc Count</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for val in return_obj['proc']['data'] %}
                        <tr>
                          <td>{{val[0]}}</td>
                          <td>{{val[7]}}</td>
                          <td>{{val[2]}}</td>
                          <td>{{val[3]}}</td>
                          <td>{{val[4]}}</td>

                        {% if val[6]=='success' %}
                        <td><div class="badge badge-success badge-fw">{{val[6]}}</div></td>
                        {% else %}
                        <td><div class="badge badge-warning badge-fw">{{val[6]}}</div></td>
                            {% endif %}
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}


