{% extends 'base.html' %}
{% block title %}
<title>Feed</title>
{% endblock %}
{% block content %}
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-5 grid-margin mt-5 ml-5 mr-5">
                <div class="card">
                  <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title text-info font-weight-bold">Hottest City</h5>
                    <p class="card-text text-dark">Last Updated: <span class="badge badge-light text-primary">19th Aug, 10:45 GMT</span></p>
                </div>
                <div class="d-flex justify-content-between">
                    <h1><span class="badge badge-primary"> {{return_obj['max']['city']}} </span> <span class="badge badge-light">{{return_obj['max']['max_temp']}} &#8490;</span></h1>
                <div class="d-inline-block">
                      <div class="bg-danger px-4 px-md-4 py-3 rounded">
                    <i class="fab fa-hotjar"></i>
                      </div>
                    </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 grid-margin mt-5 ml-5 mr-5">
                <div class="card">
                  <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title text-info font-weight-bold">Coolest City</h5>
                    <p class="card-text text-dark">Last Updated: <span class="badge badge-light text-primary">{{return_obj['created_time']}}</span></p>
                </div>
                <div class="d-flex justify-content-between">
                    <h1><span class="badge badge-primary"> {{return_obj['min']['city']}}</span> <span class="badge badge-light">{{return_obj['min']['max_temp']}} &#8490;</span></h1>
                <div class="d-inline-block">
                      <div class="bg-warning px-4 px-md-4 py-3 rounded">
                    <i class="fab fa-hotjar"></i>
                      </div>
                    </div>
                </div>
                  </div>
                </div>
              </div>
              </div>
            <div class="row">
            <div class="col-11 grid-margin mt-5 ml-5 mr-5">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title text-info font-weight-bold">Temparature Data </h6>
                  <div id="container" style="height: 300px"></div>
                </div>
              </div>
            </div>
          </div>



          </div>


        </div>
{% endblock %}
{% block pageonlyjs %}

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">
        $(function () {
    $('#container').highcharts({
        chart: {
        type: 'column'
    },
    title: {
        text: 'City Temperature'
    },
    subtitle: {
        text: 'Source: openweather.org'
    },
    xAxis: {
        categories: {{ return_obj['cities']|tojson|safe }},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Temperature (K)'
        }
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'City',
        data: {{ return_obj['temps']|tojson|safe }}

    }],
    });
});
    </script>

{% endblock %}

